// Colors

$green:     #72c90c;
$blue:      #66ccff;
$yellow:    #f9d500;

$gray26:    #1a1a1a;
$gray51:    #333333;
$gray153:   #999999;
$gray204:   #cccccc;
$gray220:   #dcdcdc;
$gray240:   #f0f0f0;
$gray252:   #fcfcfc;
$white:     #ffffff;
